# default
* text=auto eol=lf

# For documentation
*.md text diff=markdown eol=crlf 
*.txt text diff=text

*.py text diff=py 
*.ipynb text diff=ipynb

*.yml text diff=yml
*.csv text diff=csv
*.xml text diff=xml
*.json text diff=json

# Base
.gitignore text diff=gitignore
.gitattributes text diff=gitattributes

/.github export-ignore
Changelog.md export-ignore
